@page
@model StudentDatabase.Pages.Students.DetailsModel
@{
}

<h1>Student Bio-Data</h1>

<div class="row mb-3">
	<label class="col-sm-3 col-form-label">RegdNo</label>
	<div class="col-sm-6">
		<span>@Model.studentInfo.RegdNo</span>
	</div>
</div>
<div class="col-3">
	<div class="row mb-3">
		<label class="col-sm-12 col-form-label">ProfilePhoto</label>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.studentInfo.ProfilePhoto)" class="img-fluid" alt="Profile Photo" style="max-width: 150px; max-height: 150px;">
		</div>
	</div>
</div>
<div class="col-9">
<div class="row mb-3">
	<label class="col-sm-3 col-form-label">Name</label>
	<div class="col-sm-6">
		<span>@Model.studentInfo.Name</span>
	</div>
</div>
<div class="row mb-3">
	<label class="col-sm-3 col-form-label">DOB</label>
	<div class="col-sm-6">
		<span>@Model.studentInfo.DOB</span>
	</div>
</div>
<div class="row mb-3">
	<label class="col-sm-3 col-form-label">Gender</label>
	<div class="col-sm-6">
		<span>@Model.studentInfo.Gender</span>
	</div>
</div>
<div class="row mb-3">
	<label class="col-sm-3 col-form-label">Address</label>
	<div class="col-sm-6">
		<span>@Model.studentInfo.Address</span>
	</div>
</div>
<div class="row mb-3">
	<label class="col-sm-3 col-form-label">CourseId</label>
	<div class="col-sm-6">
		<a asp-area="Coursedatabase" asp-page="/Courses/Details" asp-route-id="@Model.studentInfo.CourseId" class="text-primary">
			@Model.studentInfo.CourseId
		</a>
	</div>
</div>

	<h3>Faculty Members</h3>
	@if (Model.FacultyMembers.Count > 0)
	{
		<ul>
			@foreach (var faculty in Model.FacultyMembers)
			{
				<li>@faculty</li>
			}
		</ul>
	}
	else
	{
		<p>No faculty members associated with this student.</p>
	}
<div class="row mb-3">
	<div class="col-sm-6">
		<a asp-page="/Students/Index" class="btn btn-primary">Back to Student List</a>
	</div>
</div>
