@page
@model StudentDatabase.Pages.Students.IndexModel
@{
}

<br />
<h1>Student List</h1>
<br />
<br />
<a class="btn btn-outline-primary btn-sm" href="/Students/Create">Add New Student</a>
<br />
<br />
<table class="table">
	<thead>
		<tr>
			<th>RegdNo</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.studentList)
		{
			<tr>
				<td>
					<a asp-page="Details" asp-route-regdNo="@item.RegdNo">@item.RegdNo</a>
				</td>
				<td>@item.Name</td>

				<td>
					<a asp-page="/Students/Edit" asp-route-regdNo="@item.RegdNo" class="btn btn-primary">Edit</a>

					<a asp-page="/Students/Delete" asp-route-regdNo="@item.RegdNo" class="btn btn-danger btn-sm">Delete</a>

				</td>
			</tr>
		}
	</tbody>
</table>