@page
@model FacultyDatabase.Pages.Faculty.CompleteInfoOfFacultyModel
@{
}
<br>
<h2>Faculty Details</h2>
<br>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}
else
{
    <form method="POST">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Profile Photo</label>
            <div class="col-sm-6">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.FacultyInfo.ProfilePhoto)" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Faculty Id</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="FacultyId" value="@Model.FacultyInfo.FacultyId">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="Name" value="@Model.FacultyInfo.Name">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">DOB</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="DOB" value="@Model.FacultyInfo.DOB">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Gender</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="Gender" value="@Model.FacultyInfo.Gender">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Address</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="Address" value="@Model.FacultyInfo.Address">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Course ID</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="CourseId" value="@Model.FacultyInfo.CourseId">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/Faculty/FacultyDetail" role="button">Back</a>
            </div>
        </div>
    </form>
}