@page
@model FacultyDatabase.Pages.Faculty.FacultyDetailModel
@{
}
<br>
<h2>List of Faculties</h2>
<a class='btn btn-primary btn-sm' href='/Faculty/AddFaculty'>Add Faculty</a>
<table class="table">
    <thead>
        <tr>
            <th>Faculty Id</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Course Id</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.facultyList)
        {
           <tr>
               <td>@item.FacultyId</td>
               <td>@item.Name</td>
               <td>@item.DOB</td>
               <td>@item.Gender</td>
               <td>@item.Address</td>
               <td>@item.CourseId</td>
               <td>@item.created_at</td>
               <td>
                   <a class="btn btn-primary" asp-page="/Faculty/Edit" asp-route-FacultyId="@item.FacultyId">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Faculty/Delete" asp-route-FacultyId="@item.FacultyId">Delete</a>

               </td>
           </tr> 
        }
    </tbody>
</table>
